In [44]:
import pandas as pd
import pickle
import numpy as np
from tqdm import tqdm
import re

In [19]:
NUM_PAGES = 100

In [27]:
fb_data = pd.read_csv('/Users/amanchopra/Documents/School/College/Fall 2021/CS 490/Final Project/Data/facebook_user.csv')
fb_data.head()

    userid  binary_memory
0  2094382        1111100
1  1192601        1100101
2  2083884       10010001
3  1203168           1111
4  1733186        1111010

In [38]:
for ind, row in tqdm(fb_data.iterrows(), total=fb_data.shape[0]):
    fb_data.loc[ind, 'memory'] = int(ind / NUM_PAGES)

100%|██████████| 99003/99003 [00:29<00:00, 3392.51it/s]

In [58]:
with open('../Data/fb.dat', 'wb') as f:
    pickle.dump({'data': fb_data['userid'].values, 'memory': fb_data['memory'].values}, f)

In [48]:
amzn_data = pd.read_csv('/Users/amanchopra/Documents/School/College/Fall 2021/CS 490/Final Project/Data/amzn_book.csv')
amzn_data.head()

,title,authors,average_rating,isbn,binary_memory
0,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,101100
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,1010100
2,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,11011100
3,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,1001100
4,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,101111

In [49]:
for i, isbn in tqdm(enumerate(amzn_data['isbn']), total=amzn_data.shape[0]):
    try:
        amzn_data.loc[i, 'isbn'] = int(isbn)
    except:
        amzn_data.loc[i, 'isbn'] = int(re.sub(r'[^0-9]', '', isbn))

100%|██████████| 11123/11123 [00:03<00:00, 3623.85it/s]

In [54]:
for ind, row in tqdm(amzn_data.iterrows(), total=amzn_data.shape[0]):
    amzn_data.loc[ind, 'memory'] = int(ind / NUM_PAGES)

100%|██████████| 11123/11123 [00:02<00:00, 3888.69it/s]

In [57]:
with open('../Data/amzn.dat', 'wb') as f:
    pickle.dump({'data': amzn_data['isbn'].values, 'memory': amzn_data['memory'].values}, f)