In [1]:
from b_tree import BTree, Item
import pandas as pd

In [3]:
data = pd.read_csv('/Users/amanchopra/Documents/School/College/Fall 2021/CS 490/Final Project/Data/amzn_book.csv')
data.head()

,title,authors,average_rating,isbn,binary_memory
0,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,101100
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,1010100
2,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,11011100
3,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,1001100
4,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,101111

In [ ]:
pd.read_csv()

In [3]:
bt = BTree(2)

In [4]:
for ind, row in data.head(20).iterrows():
    bt.insert(Item(row['userid'], row['binary_memory']))

In [6]:
bt.print_order(visual=False)

[{Key: 1680361, Value: 1111110}]
[{Key: 1136133, Value: 1010010}, {Key: 1203168, Value: 1111}, {Key: 1524765, Value: 1011001}] [{Key: 1733186, Value: 1111010}, {Key: 2083884, Value: 10010001}]
[{Key: 1001768, Value: 1001101}, {Key: 1020296, Value: 1001101}] [{Key: 1192601, Value: 1100101}] [{Key: 1365174, Value: 10110}, {Key: 1470850, Value: 11010101}] [{Key: 1537661, Value: 11111101}, {Key: 1612453, Value: 1001010}] [{Key: 1704433, Value: 10110011}, {Key: 1712567, Value: 1011000}] [{Key: 1751722, Value: 11010}, {Key: 1918584, Value: 10111}, {Key: 1932519, Value: 11111110}] [{Key: 2094382, Value: 1111100}, {Key: 2104073, Value: 11011100}]