In [1]:
from b_tree import BTree, Item
import pandas as pd

In [2]:
data = pd.read_csv('/Users/amanchopra/Documents/School/College/Fall 2021/CS 490/Final Project/Data/facebook_user.csv')
data.head()

    userid  binary_memory
0  2094382        1111100
1  1192601        1100101
2  2083884       10010001
3  1203168           1111
4  1733186        1111010

In [3]:
bt = BTree(2)

In [4]:
for ind, row in data.head(20).iterrows():
    bt.insert(Item(row['userid'], row['binary_memory']))

In [6]:
bt.print_order(visual=False)

[{Key: 1680361, Value: 1111110}]
[{Key: 1136133, Value: 1010010}, {Key: 1203168, Value: 1111}, {Key: 1524765, Value: 1011001}] [{Key: 1733186, Value: 1111010}, {Key: 2083884, Value: 10010001}]
[{Key: 1001768, Value: 1001101}, {Key: 1020296, Value: 1001101}] [{Key: 1192601, Value: 1100101}] [{Key: 1365174, Value: 10110}, {Key: 1470850, Value: 11010101}] [{Key: 1537661, Value: 11111101}, {Key: 1612453, Value: 1001010}] [{Key: 1704433, Value: 10110011}, {Key: 1712567, Value: 1011000}] [{Key: 1751722, Value: 11010}, {Key: 1918584, Value: 10111}, {Key: 1932519, Value: 11111110}] [{Key: 2094382, Value: 1111100}, {Key: 2104073, Value: 11011100}]